/*    
Author: Hitesh kumar  
Date: 30/10/2025  
File Name: styles.css      
*/
/* CSS reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #cfe3fe;
}

img {
    max-width: 100%;
    display: block;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #378bec;
    height: 190px;
}

header img {
    margin: 0 auto;
}

header {
    width: 100%;
}

nav {
    padding: 1%;
    margin-bottom: 1%
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois one', sans-serif;
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: block;
}

main {
    clear: left;
    background-color: #feffff;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
}

#Grey,
#Sloan,
#Attam,
#Kepner {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.hours {
    margin-left: 10%;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

/* Media Query for Tablet Viewport  */
@media screen and (min-width: 630px) {

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px) {

    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em
    }

    main {
        clear: left;
    }

    main h2 {
        font-size: 1.8em;
    }
}

#contact {
    align-content: center;
    text-decoration: none;
}

#contact {
    align-content: center;
    text-decoration: none;
}

#contact a {
    color: #666600;
    text-decoration: none;

}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    /* Sets the link colour */
    text-decoration: none;
}